
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form [formGroup]="form">
      <div>
        <label>API Key: </label>
        <input formControlName="apiKey"/>
      </div>
      <div>
        <label>Search: </label>
        <input formControlName="searchTerm"/>
      </div>
      <div>
        <label>No. Of Results: </label>
        <input formControlName="results"/>
      </div>
      <div>
        <label>Rating: </label>
        <select name="" id="" formControlName="rating">
          <option value="g">g</option>
          <option value="pg">pg</option>
          <option value="pg13">pg13</option>
          <option value="r">r</option>
        </select>
      </div>
      <button type="button" (click)="getData()">Click Me</button>
    </form>
  </body>
</html>
<hr/>
Search Results
<app-giphysearch></app-giphysearch>